@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2f2f2f;
  }
}

body {
  color           : var(--primary-color);
  background-color: var(--background-color);
}

.bg-image {
  background-image    : url("../public/assects/images/Ellipse-2.png");
  background-repeat   : no-repeat;
  background-size     : contain;
  border-radius       : 50px 50px 20px 50px;
  /* background-size  : 100% 100%; */
  left                : 0;
  top                 : 0;
  /* width            : 45%; */
  height              : auto;
  /* height           : 100vh; */
}

.wrapper {
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.semi-circle {
  width           : 100%;
  height          : 100vh;
  background-color: green;
  clip-path       : circle(66.1% at 0 50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}